/* Global scope classes */
.wrapper {
  margin: auto;
  width: 50%;
  height: 600px;
  padding: 10px;
}

.list-wrapper {
  height: 80%;
  padding: 20px;
  margin-bottom: 20px;
}

.input-wrapper {
  height: 4%;
  padding: 20px;
}

.container {
  border: 2px solid #ececec;
  background-color: #ececec;
  border-radius: 20px;
  height: 100%;
  padding: 20px;
}

table {
  text-align: center;
  width: 85%;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td, th {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
}

.op-button {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  border: grey;
  padding: 5px;
  width: 70px;
  background-color: #ffffff;
}

.data-container {
  padding-top: 15px;
}

.hidden {
  display: none;
}

.scroll {
  overflow-y: scroll;
}

.bg-dark {
  background-color: #c5c5c5;
}

/* Responsivity */
@media screen and (max-width: 1000px) {
  .wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
  }
}
